<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 >PORTIFÓLIO ACADÊMICO</h1>
        <h2 >João Gabriel Schmidt Silva</h2>
    </div>
    <div class="sm">
        <h1>Sobre Mim</h1>
        <p>
        Sou um estudante de Análise e Desenvolvimento de Sistemas, atualmente no 1º semestre da Fatec, nunca tive um contato prévio
        com programação, porém cada vez mais me vejo apaixonado por essa área, mesmo que desafiadora. No momento estou trabalhando
        em uma empresa que não tem relação com a área, mas que me proporciona um aprendizado sobre lidar com pessoas e me desenvolver 
        em momentos de pressão, o que aflora minhas soft-skills. Fora do campo profissional, gosoto de paticipar de eventos Cosplays
        e animes e também sou um grande fã de jogos, principalmente os de Rogue-like, como Dead Cells e Hades.
        </p>
    </div>
    <nav>
        <h1 class="container">PRINCIPAIS PONTOS</h1>
        <div class="nav">
            <button> <a href="#1"> <img src="../static/image/nav_icon.png" alt="door_icon" style=" height: 30px; width: 30px;"> Currículo</a> </button>
            <button><a href="#2"> <img src="../static/image/nav_icon.png" alt="door_icon" style=" height: 30px; width: 30px;"> Principais projetos</a></button>
            <button><a href="#3"> <img src="../static/image/nav_icon.png" alt="door_icon" style=" height: 30px; width: 30px;"> Certificados</a></button>
            <button><a href="#4"> <img src="../static/image/nav_icon.png" alt="door_icon" style=" height: 30px; width: 30px;"> Contato</a></button>
        </div>
    </nav>
    <h1 class="container" id="1">Currículo</h1>
    <div class="c">
        <div class="c1">
            <h3>Formação Acadêmica</h3>
                <p>
                Cursando Análise e Desenvolvimento de Sistemas na Fatec São José dos Campos (2025 - 2027)
                </p>
        </div>
        <div class="c2">
            <h3>Certificações</h3>
            <img src="../static/image/loading_gif.gif" alt="loading_gif">
        </div>
        <div class="c3">
            <h3>Competências Técnicas e Teóricas</h3>
            <p>Linguagens de programação</p>
                <ul>
                    <li>Python</li>
                </ul>
            <p>Frameworks</p>
                <ul>
                    <li>Flask</li>
                </ul>
            <p>Soft skills</p>
                <ul>
                    <li>Comunicação</li>
                    <li>Trabalho em equipe</li>
                    <li>Tomada de decisão sob pressão</li>
                    <li>Foco em soluções</li>
                    <li>Resiliência</li>
                </ul>
        </div>
    </div>
    <h1 id="2" class="sm">Principais projetos</h1>    
    <div class="h">
        <div class="h1">   
            <p>Projeto: Sistema de gerenciamento de atestados e avalição de equipes ágeis (API)</p>
            <ul>
                <li>Descrição: Desenvolvi um sistema de cadastro, consulta de atestados e que também permite a avalição de 
                    equipes ágeis.</li>
                <li>Tecnologias UJlizadas: HTML/CSS, Flask.</li>
                <li>Link para o código: <a href="https://github.com/matheussd1/Apollo11#" style="text-decoration: underline;">Apollo11</a></li>
                <li>Imagens do projeto:</li>
            </ul>
        </div>
        <div class="h2">
            <img src="../static/image/Api_gif.gif" style="height: 500px; width: 800px;" alt="Api_gif">
        </div>
    </div>
    <div class="container">
        <h1 id="3">Certificados</h1>
        <img src="../static/image/loading_gif.gif" alt="loading_gif">
    </div>
    <div class="container">
        <h1 id="4">Contato</h1>
        <a href="https://github.com/Joao-GS-Silva" style="margin-bottom: 30px;"><img src="../static/image/github_icon.png" 
            alt="Meu github" style="height: 150px; width: 150px;">
        </a><a href="https://www.linkedin.com/in/joão-gabriel-schmidt-silva-7728a0212/" style="margin-bottom: 30px;"><img src="../static/image/linkedin_icon.svg" 
            alt="Meu linkedin" style="height: 150px; width: 150px;">
        </a><a href="mailto:joaoschmidt2901@gmail.com" style="margin-bottom: 30px;"><img src="../static/image/gmail_icon.png" 
            alt="Meu Email" style="height: 150px; width: 150px;">
        </a>
        <a href="https://encr.pw/aqui-o-pai-da-aula" style="color: #A696AC;">Shhhhhhh... segredo</a>
    </div>
</body>
</html>