/*Geral para todas as páginas*/
body {
    background-color: #93bfdc;
    margin: 0px;
}

nav {
    width: 100%;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    background-color: #034977;
}

nav > a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-size: 1rem;
    background-color: #d9e3db;
    border-radius: 5px;
}

button {
    background-color: #d9e3db;  
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #d7574a;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #034977;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer > a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    color: white;
    text-decoration: none;
}

/*Página index*/
.container00 {
    display: grid; 
    place-items: center;
    grid-template-columns: auto auto;
    margin: 5%;
    text-align: center;
    font-style: 'Radley', cursive;
}

.container00 > img {
    width: auto;
    height: 500px;
    border-radius: 30px;
}

.c02 {
    grid-column: 2;
    text-align: center;
    justify-content: center;
}
.c02 > h1 {
    font-size: 100px;
}

.c02 > p {
    text-decoration: wavy underline;
    color: #034977;
}

.c02 > h3 {
    color: #034977;
}

/*Página p1*/

.container01 {
    display: grid; 
    place-items: center;
    grid-template-columns: auto auto;
    margin: 2%;
    text-align: center;
    font-style: 'Radley', cursive;
}

.c11 {
    grid-column: 1;
    text-align: justify;
    justify-content: center;
    width: 650px;
}

.c12   {
    grid-column: 2;
    text-align: center;
    justify-content: center;
}

.c12  > img {
    grid-column: 2;
    text-align: center;
    justify-content: center;
    width: auto;
    height: 500px;
}

